h2{
    font-family: Creepster;
    color: orange;
}

p{
    font-family: Creepster;
}

button{
    background-color: rgb(241, 239, 239);
    border: transparent;
    font-family: Creepster;
    margin: 20px;
    background-color: greenyellow;
    border: 10px solid green;
}
