h2{
    font-family: Creepster;
    color: orange;
    font-size: 50px;
    display: flex;
    justify-content: center;
}

p{
    font-family: Creepster;
    display: flex;
    justify-content: center;
}

button{
    background-color: rgb(241, 239, 239);
    border: transparent;
    font-family: Creepster;
    margin: 20px;
    background-color: greenyellow;
    border: 10px solid green;
}
